.navbar {
    background-image: url("https://images.hdqwalls.com/download/abstract-low-poly-3d-blue-background-4k-so-3840x2160.jpg");
    background-repeat: no-repeat;
    display: table;
    position: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin:  0px;
}
body {
    margin:  0px;
}